body   {
    background-image: url('https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY-650-80.jpg.webp');
    background-repeat: no repeat;
    background-size: cover;

}
h1{
    color: red;
}
#kavali{
margin: auto;
height: 200px;
width: 280px;
text-align: center;
background-color: black;
color: white;
text-indent: 18px;
border: 1px solid black;

padding: 50px;
}
p{
    color: white;
}
