
body{
    box-sizing: border-box;
font-family: 'Times New Roman';
padding: 0px;
margin: 0px;
}
.menu{
    height: 10px;
    width: auto;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 40px;
    transition: all 1s ease;
}

p{
    height: auto;
    width: auto;
    font-family: Arial;
    padding: 100px

}
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    gap:200px;
    text-align: justify;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 24px;
}
a:hover{
    color: white;
}
.image{
    height: 100px;
    width: auto;
    border-right: 100px;
    margin: 100px;
    place-items: right;
    display: grid;
    padding-right: 10px;

}
.box{
    height: 700px;
    width: 100px;
    border: ipx solid black;
    color: black;
    background-color: brown;

}

